/* ===========================
   BARRA SUPERIOR
=========================== */

.topbar{
    position:fixed;
    top:0;
    left:260px;
    right:0;
    height:70px;
    background:#7B2E3A;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:0 40px;
    z-index:1000;
}

.topbar-user{
    display:flex;
    align-items:center;
    gap:25px;
    color:white;
    font-size:16px;
}

.topbar-user a{
    color:white;
    text-decoration:none;
    background:rgba(255,255,255,.15);
    padding:10px 18px;
    border-radius:10px;
}

.topbar-user a:hover{
    background:rgba(255,255,255,.25);
}

.mobile-title{
    display:none;
}

#menu-toggle{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

#menu-overlay{
    display:none;
}
