{% extends "base.html" %}

{% block title %}
Partidos
{% endblock %}


{% block content %}

<div class="top-actions">

    <a href="/partidos" class="back-button" title="Volver">
        
        <!-- Volver -->
        <i class="fa-solid fa-arrow-left"></i>
    </a>

</div>


<section class="card">


    <h3>Partidos </h3>


    {% for video in videos %}

    <div class="partido-item">

        <div>

            <strong>
                {{ video.titulo }}
            </strong>

        </div>

        <div class="acciones-partido">
            
            <!--
            Botón de descarga
            <button 
            class="watch-button download-button"
            onclick="descargarVideo('{{ video.archivo }}')">

                <i class="fa-solid fa-download"></i>

            </button>
            --> 
            {% if usuario %}

            <a
                href="/partidos/{{ video.videoId }}/editar"
                class="watch-button edit-button"
                title="Editar partido" 
            >
                <!-- Editar -->
                <i class="fa-solid fa-pen"></i>
            </a>

            <button
                class="watch-button delete-button"
                onclick="eliminarPartido('{{ video.videoId }}', '{{ video.playlistItemId }}')"
                title="Eliminar partido"
            >
                <!-- Eliminar -->
                <i class="fa-solid fa-trash"></i>
            </button>
            {% endif %}

            <a 
            href="{{ video.url }}"
            target="_blank"
            class="watch-button"
            title="Ver en YouTube"
            >
            
            <i class="fa-solid fa-eye"></i>
        </a>
        
        </div>

    </div>

    {% endfor %}


</section>

{% endblock %}

{% block scripts %}
<script src="/static/js/eliminar.js"></script>
{% endblock %}